<!-- wp:template-part {"slug":"dark-header","area":"uncategorized"} /-->

<!-- wp:post-content /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"full","style":{"color":{"gradient":"linear-gradient(0deg,rgb(86,114,113) 0%,rgb(137,163,160) 100%)"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-background" style="background:linear-gradient(0deg,rgb(86,114,113) 0%,rgb(137,163,160) 100%)"><!-- wp:group {"align":"full","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignfull"><!-- wp:html -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 50" preserveAspectRatio="xMidYMid slice">
  <path d="M 0 0 H 1000 V 31 Q 500 -15 0 31 Z" fill="white" />
  <path d="M 0 18 Q 500 -8 1000 18 V 44 Q 500 -20 0 44 Z" fill="#567271" />
</svg>
<!-- /wp:html --></div>
<!-- /wp:group -->

<!-- wp:comments -->
<div class="wp-block-comments"><!-- wp:comments-title {"textAlign":"center","showPostTitle":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-curator-light-gra"}}}},"textColor":"custom-curator-light-gra"} /-->

<!-- wp:comment-template {"style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}}} -->
<!-- wp:group {"className":"has-custom-white-background-color has-background","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}},"border":{"radius":{"topLeft":"30px","topRight":"30px","bottomLeft":"30px","bottomRight":"30px"}},"shadow":"var:preset|shadow|natural"},"backgroundColor":"custom-white"} -->
<div class="wp-block-group has-custom-white-background-color has-background" style="border-top-left-radius:30px;border-top-right-radius:30px;border-bottom-left-radius:30px;border-bottom-right-radius:30px;margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50);box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:comment-author-name {"linkTarget":"_blank","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-curator-green"}}}},"textColor":"custom-curator-green","fontSize":"medium"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}},"elements":{"link":{"color":{"text":"var:preset|color|custom-curator-green"}}}},"textColor":"custom-curator-green","layout":{"type":"flex"}} -->
<div class="wp-block-group has-custom-curator-green-color has-text-color has-link-color" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content /-->

<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
<!-- /wp:group -->
<!-- /wp:comment-template -->

<!-- wp:post-comments-form /--></div>
<!-- /wp:comments --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->